.task-component.radio-button {
    -fx-background-radius: 10;
    -fx-text-fill: black;
}

.task-component.radio-button .text {
    -fx-font-size: 14;
    -fx-text-fill: black;
}

.active.radio-button .text {
    -fx-strikethrough: true;
}

.radio-button .radio .dot {
    -fx-background-insets: 0;
    -fx-padding: 8;
    -fx-background-radius: 100%;
}

.radio-button:selected .radio {
    -fx-padding: 4;
    -fx-background-insets: 0;
}

.radio-button:selected .radio .dot {
    -fx-padding: 4;
    -fx-background-insets: 0;
}

.radio-button .radio {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0 0.15em;
}
.scroll-bar:vertical {
    -fx-background-color: transparent;
}
.scroll-bar:vertical .track-background {
    visibility: hidden;
}

.scroll-bar:vertical .track-background {
    visibility: hidden;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #d9d9d9;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.hbox {
    -fx-background-color: white;
}

.vbox {
    -fx-background-color: white;
}
